//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 
// Add extra styles here

.govuk-button.govuk-button-stacked {
    margin-bottom: 20px;
}

.template-gov-uk-one-login-header .govuk-header__container {
    border-bottom: unset;
    margin-bottom: unset;
}

 .govuk-template--rebranded .govuk-header__navigation {
    padding: 16px 0 12px;
}

.govuk-header__navigation-list {
    float: right;
}

.govuk-template--rebranded .govuk-header__navigation-item:not(:last-child)::after {
    content: "|";
    margin-left: 20px;
    margin-right: 10px;
}