{% set hideBackButton = false %}
{% set version = "v1" %}
{% extends "layouts/digital-certificates.html" %}

{% block pageTitle %}
  Delete sharing link | {{ serviceName }} | GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">BSE Electrotechnical, Sharing link 1</span>
        Delete link
      </h1>

      <p class="govuk-body">
        If you delete a link, it will stop working for everyone.
      </p>

      <p class="govuk-body">
        To share your certificate with someone new, you can create a new sharing link.
      </p>

      <p class="govuk-body">
        Sharing links will automatically be deleted after 28 days.
      </p>

      <h2 class="govuk-heading-m">Are you sure you want to delete Sharing link 1?</h2>

      <p class="govuk-hint">
        This action cannot be undone
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Delete link",
          classes: "govuk-button--warning",
          href: "../../share-certificate?deleted_sharing_link_name=Sharing link 1"
        }) }}

        <a class="govuk-link" href="../sharing-link-1">Cancel</a>
      </div>
    </div>      
  </div>

    <!--
    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
    -->

  </div>

{% endblock %}
