{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

{% include "govuk-prototype-kit/includes/homepage-top.njk" %}

          <!-- <span class="govuk-caption-xl">Subheading</span> -->
          <h1 class="govuk-heading-xl">Digital certificates prototypes</h1>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2 class="govuk-heading-l">End-to-end 'Your apprenticeship certificates' journeys</h2>

          <span class="govuk-caption-m">9 June 2025</span>
          <h3 class="govuk-heading-m">Version 1</h3>
          <ul class="govuk-list">

               <li><a href="/digital-certificates/v1"
                         class="govuk-link govuk-link--no-visited-state">End-to-end 'Your apprenticeship certificates' journeys, version 1</a>
               </li>
               <br>

          <details class="govuk-details">
               <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                         Changelog
                    </span>
               </summary>
               <div class="govuk-details__text">
                    <ul>
                         <li>Created v1 end-to-end prototype, which includes:</li>
                         <ul>
                              <li>Authorisation journey</li>
                              <li>Certificate print requests</li>
                              <li>Sharing certificate functionality</li>
                         </ul>
                         <li>Notable changes from teh v6 Figma prototype include:</li>
                         <ul>
                              <li>Removing QR code functionality</li>
                              <li>Adding a downloadable PDF mock-up</li>
                              <li>Updated contact details to go to A DIFFERENT PLACE? Update this later plz.</li>
                         </ul>
               </div>
          </details>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

     </div>

</div>

{% endblock %}
