{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set htmlClasses = "digital-certificates" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    navigation: [
      {
        href: "#",
        text: "Help"
      },
      {
        href: "#",
        html: 'Settings <span aria-hidden="true">▼</span>' | safe
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

<section aria-label="Service information" class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <div class="govuk-service-navigation__service-name-container">
        <span class="govuk-service-navigation__service-name">
          <a href="#" class="govuk-service-navigation__link">
                {{ serviceName }}
          </a>
        </span>
      </div>
    <div class="govuk-service-navigation__user-name-container">
      <span class="govuk-service-navigation__user-name">
          Jane Denver
      </span>
    </div>
    </div>
  </div>
</section>

{% endblock %}

{% block beforeContent %}
{% if not hideBackButton %}
  {{ govukBackLink({
    text: "Back",
    href: customBackHref or "javascript:window.history.back()"
  }) }}
{% endif %}

{% endblock %}