{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set htmlClasses = "digital-certificates" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    navigation: [
      {
        href: "#",
        text: "Help"
      },
      {
        href: "#",
        html: 'Settings <span aria-hidden="true">▼</span>' | safe
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Your apprenticeship certificates",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block beforeContent %}
{% if not hideBackButton %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endif %}

{% endblock %}